<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong>Title:</strong> <%= product.title %><br>
      <strong>Price:</strong> <%= number_to_currency(product.price) %><br>
      <strong>Stock Quantity:</strong> <%= product.stock_quantity %>
    </li>
  <% end %>
</ul>