<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
        <%= link_to product.title, product_path(product) %><br>
        <strong>Price:</strong> <%= number_to_currency(product.price) %><br>
        <strong>Stock Quantity:</strong> <%= product.stock_quantity %>
    </li>
  <% end %>
</ul>